<?xml version="1.0"?>
<ljdump>
    <!-- for Dreamwidth use https://dreamwidth.org -->
    <server>https://livejournal.com</server>
    <username>myaccount</username>
    <password>mypassword</password>
    <ljuniq>ljuniq cookie if you want to download Dreamwidth hosted images</ljuniq>
</ljdump>
